

<!--==========================
    INSIDE HERO SECTION Section
============================-->	
<section class="page-image page-image-contact md-padding">
    <h1 class="text-white text-center">BİLGİ DÜZENLE</h1>
</section>
    
    <!--==========================
    Contact Section
============================-->
<section id="contact" class="md-padding">
	<div class="container">

			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">BİLGİ DÜZENLE</h2>
					</div>
				</div>
			</div>

		<div class="row">
			<div class="col-lg-12">
				<form action="/admin/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="_method" value="PUT">
					<div class="row">
						<div class="offset-2 col-md-8">
							<div class="form-group"> <h3>Kullanıcı Adı:</h3>
								<input class="form-control" name="userName" type="text" value="{{user.userName}}" required="required" data-validation-required-message="Lütfen ilan başlığını giriniz">
								<p class="help-block text-danger"></p>
							</div>
                            <div class="form-group"> <h3>E-Mail:</h3>
								<input class="form-control" name="email" type="text" value="{{user.email}}" required="required" data-validation-required-message="Lütfen kitap adını giriniz">
								<p class="help-block text-danger"></p>
							</div>
							
							<div class="form-group"> <h3>Telefon Numarası:</h3>
								<input class="form-control" name="phoneNumber" type="text" value="{{user.phoneNumber}}" required="required" data-validation-required-message="Lütfen yazar adını giriniz">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group"> <h3>Şifre:</h3>
								<input class="form-control" name="password" type="password" value="{{user.password}}" required="required" data-validation-required-message="Lütfen yazar adını giriniz">
								<p class="help-block text-danger"></p>
							</div>
						</div>
					
						<div class="clearfix"></div>
						<div class="col-lg-12 text-center">
							<div id="success"></div>
							<button  class="main-btn" type="submit">KAYDET</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</section>
